<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Min Film</title>
	<meta charset="UTF-8">
	<meta name="description" content="Cassi Photo Studio HTML Template">
	<meta name="keywords" content="photo, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/elegant-icons.css"/>
	<link rel="stylesheet" href="css/fresco.css"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="css/style.css"/>


	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Offcanvas Menu Section -->
	<div class="offcanvas-menu-wrapper">
		<div class="menu-header">
			<a href="./index.html" class="site-logo">
				<image src="image/logo.png" alt="">
			</a>
			<div class="menu-switch" id="menu-canvas-close">
				<i class="icon_close"></i>
			</div>
		</div>
		<ul class="main-menu">
			<li><a href="index.html">Home</a></li>
			<li><a href="gallery.html" class="active">Gallery</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
		<div class="menu-footer">
			<div class="footer-social">
				<!--<a href="https://blog.naver.com/0297i">Blog</a>-->
				<a href="https://www.instagram.com/tse.rof/">Instagram</a>
			</div>
			<div class="copyright"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
		</div>
	</div>
	<!-- Offcanvas Menu Section end -->
	
	<!-- Header section -->
	<header class="header-section">
			<a href="./index.html" class="site-logo">
				<image src="image/logo.png" alt="">
			</a>
		<div class="menu-switch" id="menu-canvas-show">
			<i class="icon_menu"></i>
		</div>
	</header>
	<!-- Header section end -->
<div id="app">
	<!-- Gallery section -->

	<section class="gallery-section"  >
		<div class="row gallery-gird">
			<div class="col-lg-4 col-xl-3 col-sm-6" v-for="(img,index) in galleryInfo" v-show="!img.isDeleted && index <= max">
				<a class="gallery-item fresco" >
					<image v-if="!img.isDeleted" v-bind:src="img.name" alt="">
					<div class="gi-text">
						<h4>{{img.title}}</h4>
						<p>{{img.sub}}</p>
					</div>
				</a>
			</div>
		</div>
		
	</section>
	<div class="text-center pt-5">
			<button class="site-btn"  v-on:click = "loadMore();">Load More</button>
		</div>
		</div>

	<!-- Gallery section end -->

	<!-- Footer section -->
	<footer class="footer-section">
		<div class="footer-social">
				<!--<a href="https://blog.naver.com/0297i">Blog</a>-->
		    <a href="https://www.instagram.com/tse.rof/">Instagram</a>
		</div>
		<div class="copyright"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
	</footer>
	<!-- Footer section end -->

	<!--====== Javascripts & Jquery ======-->
	<script src="js/vendor/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/masonry.pkgd.min.js"></script>
	<script src="js/fresco.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/vue.js"></script>
	<script type="text/javascript" src="settings.json"></script>
<script type="text/javascript">
	var app = new Vue({
  el: '#app',
  data: {
        galleryInfo: galleryInfo,
        max: 10
  },
  mounted : function (){
  },
  methods : {
  	loadMore: function(){
  		this.max = this.max + 10;
  		this.$nextTick(() => {
         $('.gallery-gird').masonry();
      });

  	}

  }

});</script>

	</body>
</html>
